*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    padding-top: 29px;
}

a, li {
    text-decoration: none;
}

.wrapper{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.hidden-tablet {
    @include mediaScreen768px {
        display: none;
    }
}

.hidden-mobile {
    @include mediaScreen320px {
        display: none;
    }
}
