@mixin mediaScreen320px {
    @media(max-width: $screen320px){
        @content
    }
};

@mixin mediaScreen768px {
    @media(max-width: $screen768px){
        @content
    }
};

@mixin title-text {
    font-weight: 700;
    font-size: 16px;
    color: $main-text-color;
};
